/* FOOTER */
#footer-main{
	min-height: 8em;
	clear: both; 
	color: #ccc; 
	background-image: none; 
	padding: 2em 0;

	@include bp_760{
		padding: 0;
	}

	nav.footer-nav{

		padding-bottom:25px;
		margin-bottom: 25px;
		border-bottom:1px solid #CCC;

		ul{
			li{
				display: inline-block;
				margin:0 -2px;

				a{
					color:#333;
					font-size:0.95em;
				}

				&:first-of-type{
					margin:0;
				}

				&:after{
					content: "|";
					margin: 0 5px;

					@include bp_760{
						content: "";
						margin: 0;
					}
				}

				&:last-of-type:after{
					content: "";
					margin:0;
				}


				@include bp_760{
					display: block;
				}

			}

			@include bp_760{
				text-align: center;
			}	
		}
	}


	.social{
		float:left;

		@include bp_760{
			float: none;
		}

		nav{
			ul{
				li{
					display: inline-block;
					margin-top:15px;

					@include bp_760{
						display: block;
						text-align: center;
						margin:10px 0;
					}

					#like-this-container{
						position:relative;
						top:9px;
					}

					#snb_icon{
						position:relative;
						top:15px;

						@include bp_760{
							top:25px;
						}
					}

					 &#footer-share-like{
					 	margin: 0 20px;
					 }	
				}
			}
		}
	}

	.sponsors{
		float:right;

		@include bp_760{
			float: none;
		}

		ul li{
			@include bp_760{
				text-align: center;
			}
		}
	}
}


#footerlogo_toronto,
#icon_twitter,
#icon_facebook,
#icon_youtube,
#icon_instagram{
	display: block;
	width:34px; 
	height:34px; 
	text-indent:-9999px;

	@include bp_760{
		display: inline-block;
	}
}





#footerlogo_toronto{ 
	width: 165px; 
	height: 70px; 
	background: transparent url(../images/logo/torontoLogo.gif) 0px 0px no-repeat;

	@include bp_760{
		margin-top:35px;
	}
}

#icon_twitter {	
		background: transparent url(../images/icon/twitter_off.png) 0px 0px no-repeat; 

	&:hover, &:focus{
		background: transparent url(../images/icon/twitter_on.png) 0px 0px no-repeat; 
	}
}

#icon_youtube {
	background: transparent url(../images/icon/youtube_off.png) 0px 0px no-repeat; 

	&:hover, &:focus{
		background: transparent url(../images/icon/youtube_on.png) 0px 0px no-repeat; 
	}
}

#icon_facebook {
	background: transparent url(../images/icon/facebook_off.png) 0px 0px no-repeat; 

	&:hover, &:focus{
		background: transparent url(../images/icon/facebook_on.png) 0px 0px no-repeat; 
	}
}

#icon_instagram {
	background: transparent url(../images/icon/instagram_off.png) 0px 0px no-repeat; 

	&:hover, &:focus{
		background: transparent url(../images/icon/instagram_on.png) 0px 0px no-repeat; 
	}
}

