@font-face { font-family: AzoSans; src: url('/assets/components/Web/fonts/AzoSans-Regular.otf'); }

*{
	 box-sizing: border-box;
	 margin:0;
	 padding:0;
}

body, html {
	font-size: 16px; 
	line-height : 1.2em;
	color: $dark;
	font-family: Arial, Helvetica, sans-serif;
}

p, pre {margin: 0.6em 0 1em;}
h1 {margin: 0.67em 0 0.4em;}
h2 {margin: 0.83em 0 0.6em;}
h3 {margin: 1em 0 0.6em;}
h4 {margin: 1.33em 0 1em;}
h5 {margin: 1.67em 0 1.2em;}
h6 {margin: 2.33em 0 1.8em;}

ul{padding:0; margin:0; list-style:none;}
a{color:$dark;}

#page-wrap {
	color: #222; 
	padding-bottom: 2em;
}

/* BODY */ 
#section-body {
	min-height: 20em; 
	clear: both; 
	margin-top: 2em;
}

.clear{
	@include clearfix;
}

.hide{
	display:none;
}

.access-only {
	position: absolute; 
	top: auto; 
	left: -9999px; 
	width:1px;
	height:1px;
	overflow:hidden;
}

.mobile-only {display: none;}

.show-mobile{
	display:none;
	visibility: hidden;

	@include bp_760{
		display: block;
		visibility: visible;
	}
}

.red {color: $purple;}

.page-margin {
	max-width: 1200px;
	margin: 0 auto;
	padding:0 5px; 
	position: relative;
}

.clear {clear: both;}
.right {float: right;}
.left {float: left;}
.text-right {text-align:right;}

.top {margin-top: 0;}

.bold {font-weight: bold !important;}
.italic {font-style: italic !important;}

.box {padding: 20px 10px; background: #fff url("../images/background/box.png") top no-repeat;}
.box.promo h2 {color: $purple;}

.unselectable {
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}

.padded.right {margin: 0 0 1em 1em;}
.padded.left {margin: 0 1em 0 1em;}


.is-not-mobile .only-mobile {display: none !important;}

.placeholder {color: #bbb;}
::-webkit-input-placeholder {color: #bbb;}
:-moz-placeholder {color: #bbb;}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {display: none;}